.newpage
  .header-logo
    = image_tag 'logo.png', height: '50px', width: '185px'
  .main
    %h1.item-title 購入内容の確認
    %section.itemDate
      .item-box
        = image_tag 't-shirt.jpeg',height: '120px', width: '120px', class: 'image'
        .content
          %p.item-name T-シャツ
          %p.item-price
            %span (税込)
            %span.price ¥2000
    %section.price-box
      %h1.title 支払い金額
      .price ¥2000
    %section.card-box
      .content
        .title
          支払い方法
        =link_to "#",class:"card-btn" do
          = icon('fas','plus')
          登録してください
    %section.address-box
      .box
        .title-box
          .title 配送先
          .change 変更する
        .date-box
          .postal 〒781-1101
          .address 高知県 土佐市 高岡町甲1881-3 マリベールダンク305
          .name 金村 匡将
    = link_to "購入する","#",class:"buy-btn"
  .footer-logo
    =image_tag 'logo-white.png',height: '50px', width: '185px'
