.newpage
  .header-logo
    = image_tag 'logo.png', height: '50px', width: '185px'
  .main
    %h1.item-title 購入内容の確認
    %section.itemDate
      .item-box
        = image_tag 't-shirt.jpeg',height: '100px', width: '100px', class: 'image'
        .content
          %p.item-name T-シャツ
          %p.item-price
            %span (税込)
            %span.price ¥2000
    %section.price-box
      %h1.title 支払い金額
      .price ¥2000
  .footer-logo
    =image_tag 'logo-white.png',height: '50px', width: '185px'
