.put-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__message {
    width: 400px;
    font-size: 30px;
    color: #3CCACE;
    padding: 30px;
    display: flex;
    justify-content: center;
  }
  &__return {
    .link {
      font-size: 20px;
      color: #3CCACE;
      text-decoration: none;
    }
  }
}