.newpage
  .image-logo
    = image_tag 'logo.png', height: '50px', width: '185px'
  .main
    %h1 購入内容の確認
    %section.itemDate
      .item-box
        = image_tag 't-shirt.jpeg',height: '100px', width: '100px', class: 'image'
        .content
          %p.item-name T-シャツ
          %p.item-price
            %span 送料込み(税込)
            %span.price ¥2000
    %section
      .price-box
        %h1 合計金額
