@import "reset";
@import "users/user";
@import "users/show";
@import "items/index";
@import "items/new";
@import "items/create";
@import "items/show";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "show";
@import "confirm";
@import "slick-theme"; 
@import "slick";

.notifications {
  color: white;
  text-align: center;

  .notice {
    background-color: #3CCACE;
  }

  .alert {
    background-color: red;
  }
}
