.put-up {
  display: flex;
  justify-content: center;
  &__message {
    width: 400px;
    font-size: 30px;
    color: white;
    background-color: #3CCACE;
    padding: 30px;
    display: flex;
    justify-content: center;
  }
}