.item-show{
  width: 100vw;
  height: 100%;
  background-color:#FFF0F5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .item-box{
  width: 700px;
  height: 100%;
  background-color:white;
  margin-top: 50px;
  padding: 24px 40px ;
  text-align: center;


    h1{
      color:#222222;
      font-size: 24px;
      font-weight: bold;
      height: 40px;
      width: 620px;
      margin-bottom: 10px;
    }
    .item-content{
      .slider-for{
        height: 300px;
        width: 250px;
        margin-bottom: 50px;
        margin-left: 30%;
        .sold{
          width: 0;
          height: 0;
          border-top: 60px solid #3CCACE ;
          border-right: 60px solid transparent;
          border-bottom: 60px solid transparent;
          border-left: 60px solid #3CCACE ;
          z-index:100;
          position: relative;
          top:-300px;
          &__inner{
            transform: rotate(-45deg);
            font-size: 26px;
            margin:-35px 0px 0px -65px;
            color: #fff;
            letter-spacing: 2px;
            font-weight: 600;
          }
        }
        img{
          height: 300px;
          width: 250px;
        }
      }
      .slider-nav{
        width: 410px;
        height: 100px;
        margin-left: 120px;
        img{
          height: 100px;
          width: 100px;
        }

      }
    }
    .box-price{
      width: 620px;
      margin: 24px 0;
      .item-price{
        font-size: 46px;
        font-weight: bold;
      }
      &__tax{
        font-size: 16px;
        color: #444444;
      }
    }
    .item-Detail{
      margin: 40px 0;
      color: #333333;
      font-size: 18px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    }
    .item-table{
      height: 500px;
      width: 620px;
      tr{
        .title{
          width: 100px;
          background-color: #FAFAFA;
          border: 1px solid #DDDDDD;
          color: #333333;
        }
        .date{
          background-color: white;
          width: 260px;
          border: 1px solid #DDDDDD;
          color: #333333;
          font-size: 19px;
        }
      }
    }
    .buy-box{
      margin-top:40px ;
      .buy-btn{
        text-decoration: none;
        color: #ffffff;
        font-size: 24px;
        font-weight: 550;
        background-color: #3CCACE;
        padding: 15px 226px;
        border-radius: 3px;
      }
      .edit-btn{
        text-decoration: none;
        color: #ffffff;
        font-size: 24px;
        font-weight: 550;
        background-color: #3CCACE;
        padding: 15px 250px;
        border-radius: 3px;
      }
      .destroy-btn{
        display: block;
        text-decoration: none;
        color: #ffffff;
        background-color: #AAAAAA;
        padding: 9px 190px;
        font-size: 24px;
        font-weight: 550;
        border-radius: 3px;
        margin-top: 30px;
      }
      .bought{
        height:54px ;
        width: 620px;
        background-color: #888888;
        padding: 10px 0;
        color: #ffffff;
        font-size: 24px;
        font-weight: 550;
      }
    }
    .option-box{
      display: flex;
      justify-content: space-between;
      margin-top: 40px;
      .like-btn{
        height: 38px;
        width: 134px;
        color: #3CCACE;
        border:1px solid #FFB340 ;
        border-radius: 40px;
        padding: 6px 10px;
      }
      .option-btn{
        border: 1px solid #333333 ;
        border-radius: 4px;
        padding: 6px 10px;
        font-size: 14px;
        a{
          color: #333333;
          text-decoration: none;
        }
      }
    }
  }
  .comment-box{
    height: 100%;
    width: 700px;
    background-color: white;
    margin: 10px 0 0;
    padding: 20px;
    .comment-content{
      .content{
        display: flex;
        margin-bottom: 40px;
        .profile{
          .image{
            font-size: 40px;
            color: #666666;
          }
          .buyer{
            font-size: 12px;
            color: #333333;
          }
        }
        .member-list{
          margin-left: 10px;
          .name{
            color: #222222;
          }
          .comment{
            padding: 15px 10px;
            height: 100%;
            width: 600px;
            background-color: #EEEEEE;
            border-radius: 10px;
            color: #333333;
          }
        }
      }
    }
    .comment-new{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 24px;
      .textarea{
        display: block;
        height: 100px;
        width: 650px;
        padding: 5px;
      }
      .notice{
        padding:8px ;
        margin: 10px 0;
        width: 640px;
      }
      .button{
        display: block;
        height: 50px;
        width: 390px;
        background-color: #3CCACE;
        border-radius: 100px;
        border: 1px solid #3CCACE;
        color: #ffffff;
        font-size: 18px;
        margin-top: 20px;
        &:hover{
          background-color: #62d4d7;
        }
      }
    }
  }
  .links{
    width: 700px;
    display: flex;
    justify-content: space-between;
    margin: 10px 0 50px;
    .link{
      font-size: 16px;
      color: #3CCACE;
    }
  }
}
