.form {
  display: block;
  padding: 0 0 220px;
  background: whitesmoke;

  .new-header {
    height: 128px;
    text-align: center;
    &__title {
      margin-top: 40px 0 0;
      display: inline-block;
    }
    &__progress {
      padding: 40px 0 0 44px;
    }

  }

  .main {
    display: block;
    &__box {
      width: 700px;
      margin: 0 auto;
      background: #ffffff;
    }
    &__title {
      font-size: 22px;
      font-weight: bold;
      text-align: center;
      border-bottom: 1px solid whitesmoke;
      padding: 32px;
    }
    .new_user {
      padding: 40px 40px 64px;
    }

    .box {
      max-width: 343px;
      margin: 0 auto;
      .field {
        margin-top: 32px;
        &__label {
          font-weight: 600;
        }
        &__box {
          input {
          width: 100%;
          height: 48px;
          padding: 10px 16px 8px;
          margin: 8px 0 0;
          border: 1px solid #cccccc;
          background: #ffffff;
          line-height: 1.5;
          font-size: 16px;
          }
          
        }
      }
    }
  .btn {
    margin: 24px 0 0;
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    text-align: center;
    background: #3CCACE;
    border: 1px solid #3CCACE;
    color: #ffffff;
  }
    
  }
}